- case params[:base]
  - when 'project'
    - throw_content :title, "Nieuwe reactie op project ##{params[:project_id]}"
    = partial 'projects/project_header', :project => @project, :current => :discussion
  - when 'user'

.subcolumns.right_bg
  .c75r
    .subcr
      %h1
        Nieuwe reactie
      - if @parent_post
        = "Je staat op het punt een reactie te plaatsen in de discussie bij ##{@document.id} <i>#{@document.current_version.title}</i>. Je reageert niet direct op het document, maar op reactie #{@parent_post.code} #{@parent_post.title}. Onderaan deze pagina kun je het document en het voor jou relevante reacties nog eens lezen."
      - else
        = "Je staat op het punt een reactie, direct op document ##{@document.id} <i>#{@document.current_version.title}</i>, te plaatsen. Onderaan deze pagina kun je het document nog eens lezen."

      - if @post.errors and not @post.errors.empty?
        = partial 'shared/error_dialog', :object => @post, :title => 'Reactie plaatsen mislukt!'
      - form_action_url = if params[:parent_code]
        - url("#{params[:base]}_discussion_new_post".to_sym, "#{params[:base]}_id".to_sym => params["#{params[:base]}_id".to_sym], :parent_code => params[:parent_code])
      - else
        - url("#{params[:base]}_discussion_new_root_post".to_sym, "#{params[:base]}_id".to_sym => params["#{params[:base]}_id".to_sym])
      = form_for :post, :action => form_action_url do
        %p
          = form_label @post, :title, 'titel', 'stukje text dat een ander, meestal groter, stukje text beschrijft'
          = text_field :title, :size=> 60
        %p
          = form_label @post, :content, 'text', "geen vieze woorden a.j.b."
          = text_area :content, :rows => 20, :cols => 80
        .narrow
          %p
            = form_label @post, :submit, 'oplaan', 'alles goed nagelezen?'
            %br/
            = submit '&nbsp;reactie opslaan&nbsp;', :name => 'submit'
  .c25l
    .subcl
      .column_menu
        = link_to "Terug naar de discussie", url(:document_discussion, :document_id => params[:document_id])