- throw_content :title, 'account maken, stap 1'

.subcolumns
  .c25l
    .subcl
      &nbsp;
  .c50l
    .subcl
      %br/
      %h1
        Stap 2
      - unless @user.errors.empty?
        .notification
          Er is iets nog niet helemaal in order in het onderstaande formulier..
      = form_for @user, :action => url(:signup_step2) do
        %p
          = form_label nil, 'login', 'alias', 'deze naam wordt je gebruikersnaam of alias op deze website. je kunt ter aller tijden kiezen of je onder je echte naam of onder je alias wilt uiten'
          %br/
          = text_field :login, :size => 25
        %p
          = form_label nil, 'email', 'email adres', 'vul hier een geldig email adres in, bijvoorkeur een adres dar je regelmatig leest &mdash veel functies van deze website werken via email'
          %br/
          = text_field :email, :size => 25
        %p
          = form_label nil, 'password', 'paswoord', 'maak \'m niet te makkelijk!'
          %br/
          = password_field :password, :size => 25
        %p
          = form_label nil, 'password_confirmation', 'paswoord bevestiging'
          %br/
          = password_field :password_confirmation, :size => 25
        .narrow
          %p
            = form_label 'submit', 'kijk nog een keer goed alles na', 'en lees de <a href="/voorwaarden">gebruikers voorwaarden</a>, door een account aan te maken gaat u ermee accord'
            %br/
            = submit "&nbsp;account maken&nbsp;", {:name => 'submit'}

  .c25r
    .subcr
      &nbsp;
