- throw_content :title, 'Signup for an account, step 2'

.subcolumns
  .c25l
    .subcl
      &nbsp;
  .c50l
    .subcl
      %br/
      %h1
        Stap 2
      = error_messages_for @user
      = form_for @user, :action => url(:signup, 'step2') do
        %p
          = form_label nil, 'login', 'alias', 'this is your user name or nick name on the website'
          %br/
          = text_field :login, :size => 25
        %p
          = form_label nil, 'email', 'email address', 'a confirmation will be sent ot this addess (not yet)'
          %br/
          = text_field :email, :size => 25
        %p
          = form_label nil, 'password', 'password', 'do not make it too easy!'
          %br/
          = password_field :password, :size => 25
        %p
          = form_label nil, 'password_confirmation', 'password confirmation'
          %br/
          = password_field :password_confirmation, :size => 25
        .narrow
          %p
            = form_label 'nil', 'everything filled out properly?', 'have a look at the <a href="/agreement">agreement</a> (that is not yet in place), as by creating an account you implicitly agreeing'
            %br/
            = submit "&nbsp;create account&nbsp;", {:name => 'submit'}

  .c25r
    .subcr
      &nbsp;
