- throw_content(:title, 'gebruikers, Overzicht')

.subcolumns
  .c25l
    .subcl
      %h4
        Acties
      .column_menu
        = link_to "&nbsp;&nbsp;Zoek een gebruiker&nbsp;", url(:search)
        %br/
      %br/
      %h4
        Gebruikers je-wee-toch..
      %p
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam malesuada   suscipit pede. Nullam ipsum lacus, varius vel, nonummy in, consequat ut, neque.   Vivamus viverra. Duis dolor arcu, lacinia sit amet, sollicitudin sed.
  .c75r
    .subcr
      %h1
        Overzicht van gebrukers
      - if @users.any?
        %h3
          Meest recent ge-update gebruikers
        = @users.each do |user|
          .subpage
            .subpage_header
              %span.title
                = link_to user.login, url(:user, :login => user.login)
              .meta
                sinds
                = render_relative_date user.created_at
            .subpage_footer
              %strong
                = link_to 'lees verder...', url(:user, :login => user.login)

        #pagination
          //= merb_paginate @users   - no pagination for now.. needs to become translatable and is design sensitive
          //= page_entries_info @users
      - else
        Niks te zien hier.
