!!! Strict
%html{html_attrs('nl')}
  %head
    %title
      = 'Truetopia' + (catch_content(:title) ? ": #{catch_content(:title)}" : '')
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }/
    = css_include_tag :application
    = js_include_tag 'jquery-1.3.2.min'
    = js_include_tag 'jquery-ui-1.7.1.custom.min'
    / this is a dirty hack to implement very basic colorpicking
    %style{ :type => 'text/css', :media => 'all' }
      = partial 'layout/colorpatch', :color => cookies['color']

    // selectively load internet explorer patch
    /
      [if lte IE 7]>
      <link href="/stylesheets/patches/patch_grids.css" rel="stylesheet" type="text/css" />
      <![endif]


  %body
    #page_margins
      #page
        #header
          #top_right.float_right
            - if session.authenticated?
              logged in as
              %b
                = session.user.login
              = surround '(', ')' do
                = link_to 'log out', url(:logout)
            - else
              = link_to 'log in', url(:login)
              or
              = link_to 'sign up for an account', url(:signup)
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            %form.search{ :style => 'display: inline;' }
              %input{ :size => 20 }
              %input{ :type => 'submit', :value => '&nbsp;search&nbsp;' }

          / size needs to be the same the image
          .logo_color.float_left{ :style => 'width: 50px; height: 50px;' }
            %a.logo{ :href => url(:root) }
              %div
                %img.logo{ :src => "/images/logo/logo_trans_50.png" }/
          %span.title
            Truetopia
          %span.subtitle
            \...communities everywhere!

        #breadcrums
          = breadcrums

        #main
          - if message
            #flash-messages.span-14.prefix-5.suffix-5.last
              - message.each do |key, value|
                .flash{ :class => key.to_s }
                  %p= value
          = catch_content :for_layout

        #footer
          = partial 'layout/footer'
