!!! Strict
- show_details = ::Merb::Config[:exception_details]
/ this page is in english
%html{html_attrs}
  %head
    %title
      = catch_content :title
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }/
    = css_include_tag :application, :exceptions
    = js_include_tag :prototype, :effects, :admin, :application
    // selectively load internet explorer patch
    /
      [if lte IE 7]>
      <link href="/stylesheets/patches/patch_grids.css" rel="stylesheet" type="text/css" />
      <![endif]
  %body
    #page_margins
      #page

        #main
          = catch_content :for_layout

        #footer
          = partial 'layout/footer'

