%h1
  details
%table.full
  %tbody
    %tr
      %td.sub{ :width => '50%' }
        started by
      %td.sub
        %strong
          = link_to document.user.login, url(:user, :login => document.user.login)
    %tr
      %td
        &nbsp;&nbsp;when
      %td
        = relative_date document.created_at
    %tr
      %td.sub
        current version
      %td.sub
        %strong= document.version_count.to_s
        &nbsp;
        = surround '(', ')' do
          = link_to 'history', document_url(:action => 'history')
    %tr
      %td
        &nbsp;&nbsp;by
      %td
        %strong
          = link_to document.current_version.user.login, url(:user, :login => document.current_version.user.login)
    %tr
      %td.sub
        &nbsp;&nbsp;when
      %td.sub
        = relative_date document.created_at
    %tr
      %td
        discussion posts
      %td
        %strong= document.discussion.posts.count
        &nbsp;
        = surround '(', ')' do
          = link_to 'discussion', discussion_url(:discussion_parent => "#{params[:document_parent]}Document")
    %tr
      %td.sub
        &nbsp;&nbsp;in last week
      %td.sub
        %strong= document.discussion.posts.count(:created_at.gt => 1.week.ago)
%h1 acties
.sidebar_menu= link_to "document overview", document_url
.sidebar_menu= link_to "new document", document_url(:action => 'new')
.sidebar_menu= link_to "search", ''
.sidebar_menu= link_to "subscribe", url(:my_subscriptions, :action => 'new', :subscribable_type => 'Document', :subscribable_id => @document.id)
.sidebar_menu= link_to "vote", url(:my_votes, :action => 'new', :voteable_type => 'Document', :voteable_id => @document.id), :title => 'vote for (or against) this document'
%br/