.subcolumns.bottom_line
  .c75r
    .subcr
      .float_left
        %h1.content
          = document.current_version.title
      #nav_main
        %ul
          %li{ :id => (current == :show ? 'current' : '') }
            = link_to 'view', document_url(:document_id => @document.id), :title => "view document ##{@document.id}"
          %li{ :id => (current == :edit ? 'current' : '') }
            = link_to 'edit', document_url(:document_id => @document.id, :action => 'edit'), :title => 'edit this document'
          %li{ :id => (current == :history ? 'current' : '') }
            = link_to 'history', document_url(:document_id => @document.id, :action => 'history'), :title => 'view the change history'
          %li{ :id => (current == :discussion ? 'current' : '') }
            = link_to 'discussion', discussion_url(:parent => 'StepDocument'), :title => 'discuss this document'
  .c25l
    .subcl
      %h1.content{ :align => 'right' }
        %span.pre_title= 'document #' + document.id.to_s