- if @documents.any?
  - @documents.each do |document|
    .subpage
      .subpage_header
        %span.title
          - title_html= capture_haml do
            %span.number= '#' + document.id.to_s
            = document.current_version.title
          = link_to title_html, document_url(:document_id => document.id)
        .meta
          created on
          = relative_date document.created_at
          by
          %b= link_to document.user.login, url(:user, :login => document.user.login)
          %br/
          last published version
          == <b>#{document.version_count}</b>, published on #{relative_date document.current_version.created_at}
          by
          %b= link_to document.current_version.user.login, url(:user, :login => document.current_version.user.login)
      .subpage_content
        = (html_escape document.current_version.content).gsub("\n", '<br/>')[1..200].strip + '...'
      .subpage_footer
        %strong
          = link_to 'read more...', document_url(:document_id => document.id)

  #pagination
    //= merb_paginate @documents   - no pagination for now.. needs to become translatable and is design sensitive
    //= page_entries_info @documents
- else
  Go a head and
  = link_to 'create a document', document_url(:action => 'new')
  for $SOME_TING_HERE..