- throw_content :title, "Edit document ##{@document.id}"
= partial 'documents/document_header', :document => @document, :current => :edit
.subcolumns.right_bg
  .c75r
    .subcr
      %h1 Edit Document
      %p
        == Using the form below you can edit document ##{@document.id}, entitled: <i>#{@document_version.title}</i>.
        Below the form you find a copy of the current version of the document you are about to edit.
      - if @document_version.errors and not @document_version.errors.empty?
        = error_messages_for @document_version
      .narrow
        = form_for :document_version, :action => document_url(@document, :action => 'edit') do
          %p
            = form_label @document_version, :title, 'title', ''
            = text_field :title, :size=> 60
          %p
            = form_label @document_version, :content, 'content', "de content van het document, deze content mag met #{link_to('wiki codes', '#wiki_formatting')} opgemaakt worden"
            ~ text_area :content, :rows => 20, :cols => 80
          %p
            = form_label @document_version, :comment, 'modification comment', 'please describe the (nature of) the changes you made to the document'
            ~ text_area :comment, :rows => 5, :cols => 80
          .narrow
            %p
              = form_label @document_version, :submit, 'save your changes', ''
              %br/
              = submit '&nbsp;save&nbsp;', :name => 'submit'
      %br/
      %br/
      %br/
      %br/
      .subpage
        .subpage_header
          %span.title
            - title_html= capture_haml do
              %span.number= '#' + @document.id.to_s
              = @document.current_version.title
            %h1= title_html
          .meta
            = relative_date @document.created_at
            gestart door
            = link_to @document.user.login, url(:user, :login => @document.user.login)
            %br/
            huidige versie
            = @document.versions.count
            verscheen
            = relative_date @document.current_version.created_at
            door
            = link_to @document.current_version.user.login, url(:user, :login => @document.current_version.user.login)
          .content
            = @document.current_version.content
  .c25l
    .subcl.sidebar
      = partial 'document_sidebar', :document => @document

