- throw_content :title, "History of document ##{@document.id}"
= partial 'documents/document_header', :document => @document, :current => :history
.subcolumns.right_bg
  .c75r
    .subcr
      Created by:
      = link_to @document.user.login, url(:user, :login => @document.user.login)
      on
      = relative_date @document.created_at
      %p
        %table.full
          %thead
            %tr
              %th
                nr
              %th
                datum
              %th
                auteur
              %th
                comment
              %td/
          %tbody
            - @document_versions.each do |version|
              %tr
                %td.sub
                  = version.number
                %td
                  = version.created_at.strftime("on %b %d, %y")
                %td.sub
                  = version.user.login
                %td
                  = link_to version.comment, document_url(:document_id => @document.id, :action => 'version', :version => version.number)
                %td.sub
                  = link_to 'bekijken', document_url(:document_id => @document.id, :action => 'version', :version => version.number)
                  = link_to 'terug zetten'
  .c25l
    .subcl.sidebar
      = partial 'document_sidebar', :document => @document