- throw_content :title, 'New Document'

.subcolumns
  .c75r
    .subcr
      %h1
        Creating a new document
      %p
        You are about to make a new document for
      = error_messages_for @document_version
      = form_for :document_version, :action => request.uri do
        %p
          = form_label @document_version, 'title', 'titel', 'kies iets dat het document goed beschrijft, maar pieker er niet te lang over want de titel is altijd te wijzigen in een nieuwe versie van het document. in het document zelf kun je ook nog een hoofdstuk structuur aanbrengen met titels.'
          = text_field :title, :size=> 60
        %p
          = form_label @document_version, 'content', 'content', "de content van het document, deze content mag met #{link_to('wiki codes', '#wiki_formatting')} opgemaakt worden"
          = text_area :content, :rows => 20, :cols => 80
        .narrow
          %p
            = form_label nil, 'submit', 'oplaan', 'alles goed nagelezen?'
            %br/
            = submit '&nbsp;document opslaan&nbsp;', :name => 'submit'
  .c25l
    .subcl.sidebar
      %h1
        Further reading
      %p
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam malesuada   suscipit pede. Nullam ipsum lacus, varius vel, nonummy in, consequat ut, neque.   Vivamus viverra. Duis dolor arcu, lacinia sit amet, sollicitudin sed.

