%h1
  details
%table.full
  %tbody
    %tr
      %td.sub{ :width => '50%' }
        gestart door
      %td.sub
        %strong
          = link_to project.user.login, url(:user, :login => project.user.login)
    %tr
      %td
        &nbsp;&nbsp;op
      %td
        = short_human_date project.created_at
    %tr
      %td.sub
        hudige versie
      %td.sub
        %strong= project.project_document.version_count.to_s
        &nbsp;
        = surround '(', ')' do
          = link_to 'historie', url(:project_history, :project_id => params[:project_id])
    %tr
      %td
        &nbsp;&nbsp;door
      %td
        %strong
          = link_to project.project_document.current_version.user.login, url(:user, :login => project.project_document.current_version.user.login)
    %tr
      %td.sub
        &nbsp;&nbsp;op
      %td.sub
        = short_human_date project.created_at
    %tr
      %td
        reacies
      %td
        %strong= project.project_document.discussion.post_count
        &nbsp;
        = surround '(', ')' do
          = link_to 'discussie', url(:project_discussion, :project_id => params[:project_id])
    %tr
      %td.sub
        &nbsp;&nbsp;in laatste week
      %td.sub
        %strong= project.project_document.discussion.post_from_last_week
%h1 acties
.sidebar_menu= link_to "&nbsp;&nbsp;&nbsp;projecten overzicht", url(:projects)
.sidebar_menu= link_to "&nbsp;&nbsp;&nbsp;nieuw project", url(:new_project)
.sidebar_menu= link_to "&nbsp;&nbsp;&nbsp;projecten zoeken", url(:search, :what => 'project')
.sidebar_menu= link_to "&nbsp;&nbsp;&nbsp;mijn projecten", url(:my_projects)
%br/