.subcolumns.bottom_line
  .c75r
    .subcr
      .float_left
        %h1.content
          = project.project_document.current_version.title
      #nav_main
        %ul
          %li{ :id => (current == :show ? 'current' : '') }
            =link_to 'bekijk', url(:project, :project_id => @project.id), :title => "bekijk project ##{@project.id}"
          %li{ :id => (current == :edit ? 'current' : '') }
            =link_to 'bewerk', url(:edit_project_description, :project_id => @project.id), :title => 'bewerk de project beschrijving'
          %li{ :id => (current == :history ? 'current' : '') }
            =link_to 'historie', url(:project_history, :project_id => @project.id), :title => 'alle gebeurtenissen aangaande dit project'
          %li{ :id => (current == :discussion ? 'current' : '') }
            = link_to 'discussie', url(:project_discussion, :project_id => @project.id), :title => 'bediscussieer dit project'
          %li{ :id => (current == :mod ? 'current' : '') }
            =link_to 'mod', url(:new_mod, :moddable_type => 'Project', :moddable_id => @project.id), :title => 'geeft uw feedback'
          %li.picto{ :id => (current == :watch ? 'current' : '') }
            %a{ :href => url(:new_subscription, :subscribable_type => 'Project', :subscribable_id => @project.id), :title => 'houd een oogje op dit project' }= '&nbsp;&nbsp;'
  .c25l
    .subcl
      %h1.content{ :align => 'right' }
        %span.pre_title= 'project #' + project.id.to_s