- throw_content :title, "project #{@project.id} beschrijving versie #{@document_version.number}"
= partial 'projects/project_header', :project => @project, :current => :show
.subcolumns.right_bg
  .c75r
    .subcr
      %p
        = "Dit is versie nummer #{@document_version.number} van de beschrijving van project ##{@project.id}."
      %p
        Nu is het aan jou om wat zinnigs te doen met die informatie...
      .narrow
        .subpage
          .subpage_header
            /.links.float_right
            /  = link_to '&nbsp;terug zetten&nbsp;', url(:document_version, :id => @document.id, :version => @document_version.number, :revert => 'true')
            %h1.content
              = @document_version.title
            %span.meta
              gemaakt op
              = @document_version.created_at.strftime("%d/%m %Y")
              door
              %strong
                = link_to @document_version.user.login, url(:user, :login => @document_version.user.login)
          .subpage_content
            = @document_version.content
  .c25l
    .subcl.sidebar
      = partial 'project_sidebar', :project => @project
