- throw_content(:title, 'projects, Index')

.subcolumns
  .c25l
    .subcl.sidebar
      = partial 'actions'
      %br/
      %h1
        what are projects?
      %p
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam malesuada   suscipit pede. Nullam ipsum lacus, varius vel, nonummy in, consequat ut, neque.   Vivamus viverra. Duis dolor arcu, lacinia sit amet, sollicitudin sed.
  .c75r
    .subcr
      %h1
        All projects
      - if @projects.any?
        %h3
          Recently modified projects
        - @projects.each do |project|
          .subpage
            .subpage_header
              %span.title
                - title_html= capture_haml do
                  %span.number= '#' + project.id.to_s
                  = project.default_name[0]
                = link_to title_html, url(:project, :project_id => project.id)
              .meta
                = relative_date project.created_at
                started by
                = link_to project.user.login, url(:user, :login => project.user.login)
                %br/
                current step
                %b= project.in_step
            .subpage_content
              some event flow items could be listed here...
            .subpage_footer
              %strong
                = link_to 'view project...', url(:project, :project_id => project.id)


      - else
        == First #{link_to 'create a project',  url(:project, 'new')}, we'll list it here. Promise.
