- throw_content :title, 'Start new project'

.subcolumns
  .c75r
    .subcr
      %h1
        Starting a new project
      %p
        You are about to start a new project. Because you create the project you automatically subscribe to it. Subscriptions work in two ways: through subscriptions you keep track of projects and through subscriptions you also name a project.
      %p
        Below you enter the name that you give to your project. Go ahead be creative, yet understand that a descriptive name is important for other people to understand what this project is about. You can always change the name you give to this project later, and other users can give this project any name they like.

      = error_messages_for @project_subscription
      = form_for @project_subscription, :action => url(:projects, 'new') do
        %p
          = form_label @project_subscription, :name, 'name', 'the name to you pick to describe this project'
          = text_field :name, :size=> 60
        .narrow
          %p
            = form_label nil, 'submit', 'procede', 'move on'
            %br/
            = submit '&nbsp;procede&nbsp;', :name => 'procede'
  .c25l
    .subcl.sidebar
      %h1
        Opmaak codes
      %p
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam malesuada   suscipit pede. Nullam ipsum lacus, varius vel, nonummy in, consequat ut, neque.   Vivamus viverra. Duis dolor arcu, lacinia sit amet, sollicitudin sed.

