- throw_content :title, 'Nieuw Document'

.subcolumns
  .c75r
    .subcr
      %h1
        Nieuw project starten
      %p
        Je gaat een nieuw project starten. Bla die bla.. Boo boo boo.
      - if @document_version.errors and not @document_version.errors.empty?
        = partial 'shared/error_dialog', :object => @document_version, :title => 'Opslaan mislukt!'
      = form_for :document_version, :action => url(:new_project) do
        %p
          = form_label @document_version, :title, 'titel', 'kies iets dat het project goed beschrijft, maar pieker er niet te lang over want de titel is altijd te wijzigen.'
          = text_field :title, :size=> 60
        %p
          = form_label @document_version, :content, 'beschrijving', "de beschrijving van je project, deze content mag met #{link_to('wiki codes', '#wiki_formatting')} opgemaakt worden. je kunt de beschrijving altijd aanpassen."
          = text_area :content, :rows => 20, :cols => 80
        .narrow
          %p
            = form_label nil, 'submit', 'oplaan', 'alles goed nagelezen?'
            %br/
            = submit '&nbsp;document opslaan&nbsp;', :name => 'submit'
  .c25l
    .subcl.sidebar
      %h1
        Opmaak codes
      %p
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam malesuada   suscipit pede. Nullam ipsum lacus, varius vel, nonummy in, consequat ut, neque.   Vivamus viverra. Duis dolor arcu, lacinia sit amet, sollicitudin sed.

