- throw_content(:title, 'Mijn Start')

.subcolumns
  .c25l
    .subcl
      %h4
        Mijn...
      .column_menu
        = link_to "&nbsp;&nbsp;mijn start&nbsp;", url(:my_start)
        %br/
        = link_to "&nbsp;&nbsp;mijn mods&nbsp;", url(:my_mods)
        %br/
        = link_to "&nbsp;&nbsp;mijn oogjes&nbsp;", url(:my_subscriptions)
        %br/
        = link_to "&nbsp;&nbsp;mijn stemmen&nbsp;", url(:my_votes)
        %br/
        = link_to "&nbsp;&nbsp;mijn projecten&nbsp;", url(:my_projects)
        %br/
        = link_to "&nbsp;&nbsp;mijn documenten&nbsp;", url(:my_documents)
        %br/
        = link_to "&nbsp;&nbsp;mijn discussie reacties&nbsp;", url(:my_posts)
        %br/
        = link_to "&nbsp;&nbsp;mijn zoekopdrachten&nbsp;", url(:my_searches)
        %br/
        = link_to "&nbsp;&nbsp;mijn profiel&nbsp;", url(:my_profile)
        %br/
      %br/
  .c75r
    .subcr
      %h1
        Mijn Start
      Hier zie je een overzicht van je persoonlijke informatie.
.subcolumns
  .c33l
    .subcl
      %h4
        mijn mods
      %p
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam malesuada   suscipit pede. Nullam ipsum lacus, varius vel, nonummy in, consequat ut, neque.   Vivamus viverra. Duis dolor arcu, lacinia sit amet, sollicitudin sed.
  .c33l
    .subcl
      %h4
        mijn votes
      %p
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam malesuada   suscipit pede. Nullam ipsum lacus, varius vel, nonummy in, consequat ut, neque.   Vivamus viverra. Duis dolor arcu, lacinia sit amet, sollicitudin sed.
  .c33r
    .subcr
      %h4
        mijn oogjes
      %p
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam malesuada   suscipit pede. Nullam ipsum lacus, varius vel, nonummy in, consequat ut, neque.   Vivamus viverra. Duis dolor arcu, lacinia sit amet, sollicitudin sed.