.subpage
  .subpage_header
    .links.float_right
      = link_to '&nbsp;bekijk&nbsp;', discussion_url(:code => post.code)
      = link_to '&nbsp;reageer&nbsp;', discussion_url(:action => 'new', :parent_code => post.code)
      = link_to '&nbsp;mod&nbsp;'
      = link_to '&nbsp;subscribe&nbsp;'
    %span.title
      - title_html= capture_haml do
        %span.number= post.code
        = post.title
      = link_to title_html, discussion_url(:code => post.code)
    %br/
    %span.meta
      = relative_date post.created_at
      gestart door
      = link_to post.user.login, url(:user, :login => post.user.login)
  .subpage_content
    = post.content
  .subpage_footer
  .subpage_children
    - post.children.each do |post|
      = partial('discussion_posts/post', :post => post)