- case params[:base]
  - when 'project'
    - throw_content :title, "New discussion post"
    = partial 'projects/project_header', :project => @project, :current => :discussion
  - when 'user'

.subcolumns.right_bg
  .c75r
    .subcr
      %h1
        New post
      - if @parent_post
        == You are about the make a post in the discussion on document <b>##{@document.id}</b> entitled <i>#{@document.current_version.title}</i>. You are replying to the post <b>#{@parent_post.code}</b> entitled <i>#{@parent_post.title}</i>. At the bottom of this page you can read the document and the post you are replying to.
      - else
        == You are about the make a post in the discussion on document <b>##{@document.id}</b> entitled <i>#{@document.current_version.title}</i>.

      = error_messages_for @post
      = form_for @post, :action => discussion_url(:action => 'new') do
        - if @parent_post
          = hidden_field(:parent_code, :value => @parent_post.code)
        %p
          = form_label @post, :title, 'title', 'the title of your post'
          = text_field :title, :size=> 60
        %p
          = form_label @post, :content, 'content', 'please mind your words :)'
          ~ text_area :content, :rows => 20, :cols => 80
        .narrow
          %p
            = form_label @post, :submit, 'save', 'checked your post? (you cannot edit it later)'
            %br/
            = submit '&nbsp;save post&nbsp;', :name => 'submit'
  .c25l
    .subcl
      .column_menu
        = link_to "Back to the discussion", discussion_url
