%h4
  My...
.column_menu
  = link_to "my start", url(:my_start)
  %br/
  = link_to "my mods", url(:my_mods)
  %br/
  = link_to "my subscriptions", url(:my_subscriptions)
  %br/
  = link_to "my votes", url(:my_votes)
  %br/
  = link_to "my projects", url(:my_projects)
  %br/
  = link_to "my documents", url(:my_documents)
  %br/
  = link_to "my posts", url(:my_posts)
  %br/
  = link_to "my searches", url(:my_searches)
  %br/
  = link_to "my profile", url(:my_profile)
  %br/
  = link_to "my account", url(:my_account)
  %br/